<html lang="vi" class="">

<head>
    <meta charset="utf-8">
    <title>Đọc truyện tranh Manhwa, Manga, Manhua Online</title>
    <meta name="keyword" content="doc truyen tranh, manga, doc manga, ngon tinh, tien hiep">
    <meta name="description"
        content="Web đọc truyện tranh manhwa, manhua, manga, ngôn tình, tiên hiệp, kiếm hiệp online hay và mới nhất cập nhật liên tục tại TruyenQQ.Com">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=6.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="http://static.truyenqq.com/template/frontend/styles/read.css?v=1.1"> -->
     <script src="/js/main.js"></script> 

</head>

<body>

    <!-- <div id="fb-root" class=" fb_reset fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
        </div>
            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            </div>
    </div> -->

    <input type="hidden" id="keyword-default" value="one">
    <div class="outsite ">
        <section class="top-bar" id="home">
            <div class="container">
                <div class="level">
                    <div class="level-left pc">
                        <span class="logo">
                            <a href="http://truyen.com/">Truyen </a>
                        </span>

                        <div class="top-search">
                            <input type="text" class="text-search" placeholder="Bạn cứ nhập từ khoá, còn lại để qq lo">
                            <button class="submit-btn btn_search"></button>
                            <div class="list-results">
                                <div class="title-search">Tìm kiếm gần đây</div>
                                <div class="list-container">
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="main-menu">
            <div class="container">
                <nav class="navbar">
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <div class="top-search smp">
                                <input class="text-search" type="text"
                                    placeholder="Bạn cứ nhập từ khoá, còn lại để qq lo">
                                <button class="submit-btn btn_search"></button>
                                <div class="list-results">
                                </div>
                            </div>
                            <a href="http://truyenqq.com/" class="navbar-item">Trang Chủ</a>
                            <div class="navbar-item has-dropdown is-hoverable is-mega">
                                <div class="navbar-link">Thể loại</div>
                                <div class="navbar-dropdown ">
                                    <div class="container">
                                        <div class="level">
                                            <div class="level-left mega-list-wrapper">
                                                <div class="columns">
                                                    <div class="column column-menu">
                                                        <ul class="mega-list">
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/action-26.html">Action</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/adventure-27.html">Adventure</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/anime-62.html">Anime</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/chuyen-sinh-91.html">Chuyển
                                                                    Sinh</a></li>
                                                            <li><a href="http://truyenqq.com/the-loai/co-dai-90.html">Cổ
                                                                    Đại</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/comedy-28.html">Comedy</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/comic-60.html">Comic</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column column-menu">
                                                        <ul class="mega-list">
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/demons-99.html">Demons</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/detective-100.html">Detective</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/doujinshi-96.html">Doujinshi</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/drama-29.html">Drama</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/fantasy-30.html">Fantasy</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/gender-bender-45.html">Gender
                                                                    Bender</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/harem-47.html">Harem</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column column-menu">
                                                        <ul class="mega-list">
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/historical-51.html">Historical</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/horror-44.html">Horror</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/huyen-huyen-468.html">Huyền
                                                                    Huyễn</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/isekai-85.html">Isekai</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/josei-54.html">Josei</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/mafia-69.html">Mafia</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/magic-58.html">Magic</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column column-menu">
                                                        <ul class="mega-list">
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/manhua-35.html">Manhua</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/manhwa-49.html">Manhwa</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/martial-arts-41.html">Martial
                                                                    Arts</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/mature-48.html">Mature</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/military-101.html">Military</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/mystery-39.html">Mystery</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/ngon-tinh-87.html">Ngôn
                                                                    Tình</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="column column-menu">
                                                        <ul class="mega-list">
                                                            <li><a href="http://truyenqq.com/the-loai/one-shot-95.html">One
                                                                    shot</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/psychological-40.html">Psychological</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/romance-36.html">Romance</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/school-life-37.html">School
                                                                    Life</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/sci-fi-43.html">Sci-fi</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/seinen-42.html">Seinen</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/shoujo-38.html">Shoujo</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column column-menu">
                                                        <ul class="mega-list">
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/shoujo-ai-98.html">Shoujo
                                                                    Ai</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/shounen-31.html">Shounen</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/shounen-ai-86.html">Shounen
                                                                    Ai</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/slice-of-life-46.html">Slice
                                                                    of life</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/smut-97.html">Smut</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/sports-57.html">Sports</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/supernatural-32.html">Supernatural</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column column-menu">
                                                        <ul class="mega-list">
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/tragedy-52.html">Tragedy</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/trong-sinh-82.html">Trọng
                                                                    Sinh</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/truyen-mau-92.html">Truyện
                                                                    Màu</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/xuyen-khong-88.html">Xuyên
                                                                    Không</a></li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/yaoi-70.html">Yaoi</a>
                                                            </li>
                                                            <li><a
                                                                    href="http://truyenqq.com/the-loai/yuri-75.html">Yuri</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="level-right pc">
                                                <img src="http://static.truyenqq.com/template/frontend/images/menu-icon.jpg"
                                                    class="mega-menu-cover" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-item has-dropdown is-hoverable is-mega">
                                <div class="navbar-link">Sắp Xếp</div>
                                <div class="navbar-dropdown ">
                                    <div class="container">
                                        <div class="level">
                                            <div class="level-left mega-list-wrapper">
                                                <div class="columns">
                                                    <div class="column">
                                                        <ul class="mega-list">
                                                            <li><a href="http://truyenqq.com/top-ngay.html">Top Ngày</a>
                                                            </li>
                                                            <li><a href="http://truyenqq.com/top-tuan.html">Top Tuần</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column">
                                                        <ul class="mega-list">
                                                            <li><a href="http://truyenqq.com/top-thang.html">Top
                                                                    Tháng</a></li>
                                                            <li><a href="http://truyenqq.com/truyen-yeu-thich.html">Yêu
                                                                    Thích</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="column">
                                                        <ul class="mega-list">
                                                            <li><a href="http://truyenqq.com/truyen-moi-cap-nhat.html">Mới
                                                                    Cập Nhật</a></li>
                                                            <li><a href="http://truyenqq.com/truyen-tranh-moi.html">Truyện
                                                                    Mới</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="column">
                                                        <ul class="mega-list">
                                                            <li><a href="http://truyenqq.com/truyen-hoan-thanh.html">Truyện
                                                                    Full</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="http://truyenqq.com/truyen-con-gai.html" class="navbar-item">Con Gái</a>
                            <a href="http://truyenqq.com/truyen-con-trai.html" class="navbar-item">Con Trai</a>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <section class="hero">
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-3 is-vertical is-parent">
                        <div class="tile is-child">
                            <a
                                href="http://truyenqq.com/truyen-tranh/lien-quan-mobile-anh-sang-bong-toi-9338-chap-5.html">
                                <div class="hero-item">
                                    <img class="cover"
                                        src="http://i.truyenvua.com/slider/290x191/slider_1587986979.jpg?r=r8645456"
                                        alt="cover">
                                    <div class="bottom-shadow"></div>
                                    <div class="captions">
                                        <h3>Liên Quân Mobile - Ánh Sáng &amp; Bóng Tối</h3>
                                    </div>
                                    <div class="chapter red">Chương 5</div>
                                </div>

                            </a>
                        </div>
                        <div class="tile is-child">
                            <a href="http://truyenqq.com/truyen-tranh/fairy-tail-100-year-quest-5212-chap-77.html">
                                <div class="hero-item">
                                    <img class="cover"
                                        src="http://i.truyenvua.com/slider/290x191/slider_1561609693.jpg?r=r8645456"
                                        alt="cover">
                                    <div class="bottom-shadow"></div>
                                    <div class="captions">
                                        <h3>Fairy Tail 100 Year Quest</h3>
                                    </div>
                                    <div class="chapter orange">Chương 77</div>
                                </div>

                            </a>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <a href="http://truyenqq.com/truyen-tranh/boku-no-hero-academia-380-chap-316.html">
                                <div class="hero-item has-excerpt">
                                    <img class="cover"
                                        src="http://i.truyenvua.com/slider/583x386/slider_1560573084.jpg?r=r8645456"
                                        alt="cover">
                                    <div class="bottom-shadow"></div>
                                    <div class="captions">
                                        <h5>Thể loại: Action, Adventure, Comedy, Shounen, Supernatural</h5>
                                        <h3>Boku No Hero Academia</h3>
                                    </div>
                                    <div class="chapter violet">Chương 316</div>
                                    <div class="excerpt">Vào tương lai, lúc mà con người với những sức mạnh siêu nhiên
                                        là điều thường thấy quanh thế giới. Đây là câu chuyện về Izuku Midoriya, từ một
                                        kẻ bất tài trở thành một siêu anh hùng. Tất cả ta cần là mơ ước.
                                    </div>
                                </div>

                            </a>
                        </div>
                    </div>
                    <div class="tile is-3 is-vertical is-parent">
                        <div class="tile is-child">
                            <a href="http://truyenqq.com/truyen-tranh/dao-hai-tac-128-chap-1016.html">
                                <div class="hero-item">
                                    <img class="cover"
                                        src="http://i.truyenvua.com/slider/290x191/slider_1559211185.jpg?r=r8645456"
                                        alt="cover">
                                    <div class="bottom-shadow"></div>
                                    <div class="captions">
                                        <h3>Đảo Hải Tặc</h3>
                                    </div>
                                    <div class="chapter green">Chương 1016</div>
                                </div>

                            </a>
                        </div>
                        <div class="tile is-child">
                            <a href="http://truyenqq.com/truyen-tranh/kimetsu-no-yaiba-2624-chap-205.html">
                                <div class="hero-item">
                                    <img class="cover"
                                        src="http://i.truyenvua.com/slider/290x191/slider_1559213537.jpg?r=r8645456"
                                        alt="cover">
                                    <div class="bottom-shadow"></div>
                                    <div class="captions">
                                        <h3>Kimetsu No Yaiba</h3>
                                    </div>
                                    <div class="chapter blue">Chương 205</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="main-content index">
            <div class="container">
                <div class="latest">
                    <div class="caption" id="list-update"><a href="http://truyenqq.com/truyen-moi-cap-nhat.html"><span
                                class="starts-icon"></span>Truyện mới cập nhật</a></div>
                    <ul class="list-stories grid-6">
                        <% TopManga.forEach(function(mv){ %>
                           
                        <li>
                            <div class="story-item">
                                <a href="/truyen-tranh/<%=mv.slug%>" title="<%=mv.ten%>"><img
                                        class="story-cover lazy_cover"
                                        src="<%=mv.mangaThumb.thumb%>"
                                        alt="<%=mv.ten%>"></a>
                                <div class="top-notice">
                                    <span class="time-ago">14 Phút Trước</span> <span class="type-label hot">Hot</span>
                                </div>
                                <h3 class="title-book"><a href="/truyen-tranh/<%=mv.slug%>"
                                        title="<%=mv.ten%>"><%=mv.ten%></a></h3>
                                <div class="episode-book"><a
                                        href="/truyen-tranh"> Chương
                                        22</a></div>
                                <div class="more-info">
                                    <div class="title-more"><%=mv.ten%></div>
                                    <p class="info"><%=mv.tinhtrang%></p>
                                    <p class="info">Lượt xem: <%=mv.views%></p>
                                    <p class="info">Lượt Like: <%=mv.likes%></p>
                                    <div class="list-tags">
                                        <a class="blue" href="h"><%=mv.theloai%></a>
                                    </div>
                                    <div class="excerpt"><%=mv.mota%></div>
                                </div>
                            </div>

                        </li>
                        
            <% }); %>
                    </ul>

                    <div class="has-text-centered">
                        <a href="http://truyenqq.com/truyen-moi-cap-nhat/trang-2.html" class="view-more-btn">Xem thêm
                            nhiều truyện</a>
                    </div>
                </div>

                <div class="female">
                    <div class="caption" id="list-female"><a href="http://truyenqq.com/truyen-con-gai.html"><span
                                class="female-icon"></span>Truyện con gái</a></div>
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical is-parent">
                            <ul class="list-stories grid-6">
                                <li>
                                    <div class="story-item">
                                        <a href="http://truyenqq.com/truyen-tranh/nguoi-xau-11255"
                                            title="Người Xấu"><img class="story-cover lazy_cover"
                                                src="http://i.truyenvua.com/ebook/190x247/nguoi-xau_1622436921.jpg?r=r8645456"
                                                alt="Người Xấu"></a>
                                        <div class="top-notice">
                                            <span class="time-ago">14 Phút Trước</span> <span
                                                class="type-label hot">Hot</span>
                                        </div>
                                        <h3 class="title-book"><a
                                                href="http://truyenqq.com/truyen-tranh/nguoi-xau-11255"
                                                title="Người Xấu">Người Xấu</a></h3>
                                        <div class="episode-book"><a
                                                href="http://truyenqq.com/truyen-tranh/nguoi-xau-11255-chap-22.html">
                                                Chương 22</a></div>
                                        <div class="more-info">
                                            <div class="title-more">Người Xấu</div>
                                            <p class="info">Tình trạng: Đang Cập Nhật</p>
                                            <p class="info">Lượt xem: 126,120</p>
                                            <p class="info">Lượt theo dõi: 1,131</p>
                                            <div class="list-tags">
                                                <a class="blue"
                                                    href="http://truyenqq.com/the-loai/action-26.html">Action</a><a
                                                    class="blue"
                                                    href="http://truyenqq.com/the-loai/school-life-37.html">School
                                                    Life</a><a class="blue"
                                                    href="http://truyenqq.com/the-loai/manhwa-49.html">Manhwa</a><a
                                                    class="blue"
                                                    href="http://truyenqq.com/the-loai/webtoon-55.html">Webtoon</a><a
                                                    class="blue"
                                                    href="http://truyenqq.com/the-loai/truyen-mau-92.html">Truyện
                                                    Màu</a>
                                            </div>
                                            <div class="excerpt">Để trở thành hình mẫu lý tưởng của người con gái ấy,
                                                trong suốt 10 năm qua tôi đã diễn vai thanh niên tốt bụng tới mức được
                                                gọi là thiên thần! Tuy nhiên, cô ấy lại nói rằng mình thích trai hư và
                                                trai tốt là một bọn cực kì nhàm chán... Vậy thì ngay từ hôm nay, tôi
                                                chẳng cần phải diễn làm gì nữa! Tôi ...</div>
                                        </div>
                                    </div>

                                </li>
                                <li>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="male">
                    <div class="caption" id="list-male"><a href="http://truyenqq.com/truyen-con-trai.html"><span
                                class="male-icon"></span>Truyện con trai</a></div>
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical is-parent">
                            <ul class="list-stories grid-6">
                                <li>
                                    <div class="story-item">
                                        <a href="http://truyenqq.com/truyen-tranh/nguoi-xau-11255"
                                            title="Người Xấu"><img class="story-cover lazy_cover"
                                                src="http://i.truyenvua.com/ebook/190x247/nguoi-xau_1622436921.jpg?r=r8645456"
                                                alt="Người Xấu"></a>
                                        <div class="top-notice">
                                            <span class="time-ago">14 Phút Trước</span> <span
                                                class="type-label hot">Hot</span>
                                        </div>
                                        <h3 class="title-book"><a
                                                href="http://truyenqq.com/truyen-tranh/nguoi-xau-11255"
                                                title="Người Xấu">Người Xấu</a></h3>
                                        <div class="episode-book"><a
                                                href="http://truyenqq.com/truyen-tranh/nguoi-xau-11255-chap-22.html">
                                                Chương 22</a></div>
                                        <div class="more-info">
                                            <div class="title-more">Người Xấu</div>
                                            <p class="info">Tình trạng: Đang Cập Nhật</p>
                                            <p class="info">Lượt xem: 126,162</p>
                                            <p class="info">Lượt theo dõi: 1,131</p>
                                            <div class="list-tags">
                                                <a class="blue"
                                                    href="http://truyenqq.com/the-loai/action-26.html">Action</a><a
                                                    class="blue"
                                                    href="http://truyenqq.com/the-loai/school-life-37.html">School
                                                    Life</a><a class="blue"
                                                    href="http://truyenqq.com/the-loai/manhwa-49.html">Manhwa</a><a
                                                    class="blue"
                                                    href="http://truyenqq.com/the-loai/webtoon-55.html">Webtoon</a><a
                                                    class="blue"
                                                    href="http://truyenqq.com/the-loai/truyen-mau-92.html">Truyện
                                                    Màu</a>
                                            </div>
                                            <div class="excerpt">Để trở thành hình mẫu lý tưởng của người con gái ấy,
                                                trong suốt 10 năm qua tôi đã diễn vai thanh niên tốt bụng tới mức được
                                                gọi là thiên thần! Tuy nhiên, cô ấy lại nói rằng mình thích trai hư và
                                                trai tốt là một bọn cực kì nhàm chán... Vậy thì ngay từ hôm nay, tôi
                                                chẳng cần phải diễn làm gì nữa! Tôi ...</div>
                                        </div>
                                    </div>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
            <div id="Top" class="scrollTop none" style="display: none;">
                <span>
                    <a href=""><img src="http://static.truyenqq.com/template/frontend/images/back-to-top-icon.png"></a>
                </span>
            </div>
        </section>

    </div>

    </div>

    </div>
</body>

</html>